body {
  background-color: #b3b3cc;
}

.navbar {
  font-size: 18px;
}

.dropdown-menu > a:hover {
    background-color: #909090;
}

.jumbotron {
  min-height: 853px;
  background-size: cover;
  background-image:
   linear-gradient(
     rgba(0, 0, 0, 0.7),
     rgba(0, 0, 0, 0.7)
   ),
   url(../img/bg3.jpg); /* bg3.jpg */
}

.btn-ini {
  font-size: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 270px;
}

#myfooter {
  margin-top: -32px;
  height: 61px;
  font-size: 18px;
}

#myfooter p {
  padding-top: 18px;
}

.form-container {
  background-color: #d3dcea;
  border: 5px solid grey;
  border-style: double;
}

#myForm {
  margin: 20px;
}

.card {
  background-color: #dad6db;
  border: 5px solid gray;
}

.fa-star, .fa-star-half-o {
  color: #CCAB00;
}

.list-header {
  background-color: #52527a;
  color: white;
  font-size: 18px;
}

.bordered {
  border: 3px solid #867979;
}



.list-item:hover {
  background-color: #909090;
}

.profile {
  background-color: #cfbad8;
}

.profile-icon {
  font-size: 200px;
}

h1 {
  font-weight: lighter;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 80px;
  }

  .btn-ini {
    margin-left: 30px;
    margin-right: 30px;
  }

}

@media (max-width: 1200px) {
  h1 {
    font-size: 70px;
  }

  .btn-ini {
    margin-left: 30px;
    margin-right: 30px;
  }

}

@media (max-width: 992px) {
  h1 {
    font-size: 60px;
  }

}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
    h1 {
      font-size: 40px;
    }
}
